*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* button rules */
.button-blue{
    background-color: #0061fe;
    padding: 5px;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.container-sx-header{
    display: flex;
    flex-basis: 50%;
    align-items: center;
}

.img-logo{
    width: 100px;
    margin: 10px;
}

.container-dx-header{
    display: flex;
    justify-content: end;
    flex-basis: 50%;
}

ul{
    display: flex;
}

ul li{
    list-style: none;
    margin: 15px;
}


/* link senza decorazioni */
.a-none{
    text-decoration: none;
}

a{
    color: black;
}
/* main rules */

/* jumbo */

.jumbo{
    background-color: #b4d0e6;
    display: flex;
    justify-content: center;

}

.content-jumbo{
    flex-basis: 70%;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

h1{
    font-size: 50px;
}

.sub-container-jumbo{
    display: flex;
    margin-top: 40px;
}

.sub-content-jumbo-sx{
    flex-basis: 40%;

}

.sub-content-jumbo-dx{
    flex-basis: 60%;
 
}

.sub-content-jumbo-dx img{
    max-width: 100%;
}

.sub-content-jumbo-sx p{
    margin-bottom: 30px;
}

.sub-content-jumbo-sx div{
    margin-top: 20px;
}

/* freccia */
.jumbo .fa-solid{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 35px;
}

/* section rules */

section{
    width: 60%;
    margin: 50px auto;
    padding-top: 20px;

    /* DEBUG */
    background-color: blue;
}

.scelta-piano{
    display: flex;
    justify-content: space-between;
}

.singolo{
    flex-basis: 32%;
    border: 1px solid black;

    /* DEBUG */
    height: 500PX;
    background-color: red;
}

.team{
    flex-basis: 32%;

    /* DEBUG */
    height: 500PX;
    background-color: green;
}

.azienda{
    flex-basis: 32%;

    /* DEBUG */
    height: 500PX;
    background-color: yellow;
}

.header-colonna{
    font-size: 15px;
    text-align: center;
    padding: 7px;
    border-bottom: 1px solid black;
}

.nome-piano{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

h4{
    font-size: 25px;
    margin-bottom: 30px;
}

.durata{
    color: #979895;
    margin-top: 10px;
    margin-bottom: 40px;
}

.servizi-offerti{
    display: flex;
    flex-direction: column;
}
.servizi-offerti li{
    display: flex;
    margin:10px 0;
}

.servizi-offerti span{
    margin-left: 5px;
}