*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* button rules */
.button-blue{
    background-color: #0061fe;
    padding: 5px;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.container-sx-header{
    display: flex;
    flex-basis: 50%;
    align-items: center;
    
    /* DEBUG */
    background-color: red;
}

.img-logo{
    width: 100px;
    margin: 10px;
}

.container-dx-header{
    display: flex;
    justify-content: end;
    flex-basis: 50%;
    

    /* DEBUG */
    background-color: green;
}

ul{
    display: flex;
}

ul li{
    list-style: none;
    margin: 15px;
}

/* link senza decorazioni */
.a-none{
    text-decoration: none;
}

a{
    color: black;
}
/* main rules */

/* jumbo */

.jumbo{
    background-color: #b4d0e6;
    display: flex;
    justify-content: center;

}

.content-jumbo{
    flex-basis: 70%;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;

    /* DEBUG */
    background-color: yellow;
}

h1{
    font-size: 50px;
}

.sub-container-jumbo{
    display: flex;
    margin-top: 40px;
}

.sub-content-jumbo-sx{
    flex-basis: 40%;

}

.sub-content-jumbo-dx{
    flex-basis: 60%;
 
}

.sub-content-jumbo-dx img{
    max-width: 100%;
}

.sub-content-jumbo-sx p{
    margin-bottom: 30px;
}

.sub-content-jumbo-sx div{
    margin-top: 20px;
}

.fa-solid{
    margin-top: 30px;
    font-size: 35px;
}

